.body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f0f0f0;
}

.logo {
  height: 60px;
}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  font-style: italic;
}

.menu-link {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-item:hover .menu-link {
  transform: scale(1.1);
  background-color: #555;
  border-radius: 4px;
}
.group {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: lightgrey;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
.category-large {
  position: absolute;

  height: 50px;
  left: 135px;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 100;
  font-size: 50px;
  line-height: 30px;
  color: #262626;
}

.category-small {
  position: absolute;
  width: 118px;
  height: 38px;
  left: 135px;
  top: 100px;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #262626;
}

.rectangle-22000 {
  position: absolute;
  width: 270px;
  height: 116px;
  left: 135px;
  top: 70px;
  background: #ebeef3;
  border-radius: 6px;
  transform: rotate(180deg);

  cursor: pointer;
}

.football {
  position: absolute;
  width: 203px;
  height: 75px;
  left: 169px;
  top: 90px;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 400;
  font-size: 37px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #262626 0%, #b8c2ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.rectangle-22004 {
  position: absolute;
  width: 270px;
  height: 116px;
  left: 735px;
  top: 70px;
  background: #ebeef3;
  border-radius: 6px;

  cursor: pointer;
}

.boxforbasketball {
  position: absolute;
  width: 270px;
  height: 169px;
  left: 435px;
  top: 330px;
  background: #ebeef3;
  border-radius: 6px;
  cursor: pointer;
}

.basketballtext {
  position: absolute;
  width: 270px;
  height: 169px;
  left: 435px;
  top: 390px;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 400;
  font-size: 37px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #262626 0%, #b8c2ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.car-sport {
  position: absolute;
  width: 248px;
  height: 39px;
  left: 746px;
  top: 110px;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 400;
  font-size: 37px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #262626 0%, #b8c2ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.boxfortabletennis {
  position: absolute;
  width: 270px;
  height: 118px;
  left: 1035px;
  top: 380px;
  background: #ebeef3;
  border-radius: 6px;
  cursor: pointer;
}

.table-tennistext {
  position: absolute;
  width: 210px;
  height: 78px;
  left: 1065px;
  top: 400px;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 400;
  font-size: 37px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #262626 0%, #b8c2ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.blackfortennis {
  position: absolute;
  width: 270px;
  height: 286px;
  left: 1035px;
  top: 70px;
  background: #010101;
  border-radius: 6px;
  cursor: pointer;
}

.image-container {
  position: absolute;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.soccer-image {
  width: 270px;
  height: 288px;
  left: 135px;
  top: 210px;
  background-image: url("../images/soccer-ball-green-grass-soccer-field-generative-ai\ 1.png");
  cursor: pointer;
}

.basketball-image {
  width: 270px;
  height: 235px;
  left: 435px;
  top: 70px;
  background-image: url("../images/close-up-basketball-outdoors\ 1.png");
  cursor: pointer;
}

.car-sport-image {
  width: 270px;
  height: 288px;
  left: 735px;
  top: 210px;
  background-image: url("../images/sport-car-is-drifting-track-with-smoke-around-it\ 1.png");
  cursor: pointer;
}

.table-tennis-image {
  width: 270px;
  height: 280px;
  left: 1035px;
  top: 70px;
  background-image: url("../images/red-ping-pong-racket-sports-equipment\ 1.png");
  cursor: pointer;
}
.textformore {
  position: absolute;
  top: 550px;
  left: 650px;
  color: #9e9ea7;
}
.textformore {
  font-size: 40px;
  color: #fff;
  text-align: center;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
  to {
    text-shadow: 0 0 20px rgb(254, 17, 0), 0 0 30px rgb(255, 2, 2),
      0 0 40px rgb(255, 3, 3);
  }
}
